

body {
    -webkit-text-size-adjust:none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin:0px;
	padding:0px;
	font-family: Trebuchet MS; 
	font-size: 13px;
	text-align: left;
    background-color:#FAFAFA;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* Main app space */
#container {
    margin: 0px auto;
    width: 320px;
    height: 372px;
    overflow: scroll;
    position:relative;
}
/* navigation */
#nav_container{
    margin: -10px auto;
    text-align: center;
    position:relative;
}

.cheerometer {
    height: 54px;
    width:248px;
    margin-top:18px;
    margin-bottom: 14px;
    position:relative;
    font-weight: bold;
    font-size:11px;
    clear:both;
    text-align:center;
    color:black;

}
.cheerometer_back {
    height: 18px;
    color:#000000;
    margin-bottom: 2px;
}
input{
    -webkit-appearance: none;
	border:none;
    background:none;
    background-color: transparent;
    border-radius: 0;
}
input:disabled{
    pointer-events:none;
}
input[type="text"]{
    font-family: Trebuchet MS;
    text-overflow: ellipsis;
    padding:0;
    text-align:left;
    pointer-events:none;
}
.judge_name {
    font-size:13px;
    width:116px;
    height:26px;
    font-weight: bold;
    margin-left:6px;
}
.competitor_name {
    font-size:15px;
    width:160px;
    height:17px;
    font-weight: bold;
    margin-left: 6px;
}
.what {
    font-size: 11px;
    width:170px;
    height:17px;
    margin-left: 6px;

}


/* ITUNES BUTTON */
.website {
    padding:0;
    display:inline-block;
    width: 55px;
    height: 20px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    margin-left: 6px;
    margin-top:1px;
}

.website:disabled{
    background: none;
}
input[class^="judge_btn_"] {
    width:88px;
    height:30px;
	float:right;
    margin-left:6px;
}

input[class^="competitor_btn_"]:active{
    color:white;
}

input[class^="competitor_btn_"]{
    border:none;
    font-family: Helvetica Neue;
    width:53px;
    height:54px;
    padding:0;
    padding-top:24px;
    text-shadow: 0px 1px 0px rgba(255,255,255,1);
    font-weight:bold;
    font-size:20px;
    text-align:center;
    -webkit-appearance:none;
}


/* thermometer divs */
input[class^="competitor_meter_"]{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 16px;
    position:absolute;
    left:61px;
    top:32px;
    width: 106px;
    height: 22px;
    padding:0 10px;
    color: white;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);

}

input[class^="total"]{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 11px;
    left:61px;
    width: 61px;
    height: 17px;
    color: white;
    float:left;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    margin-bottom: 2px;
}
input.totalCheers{
    margin-left: 4px;
}
input.totalBoos{
    margin-left: 8px;
}


input[class^="judge_meter_"]{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size:10px;
    position:absolute;
    left:194px;
    top:4px;
    height:17px;
    width: 47px;
    color: white;
    padding:0 3px;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}

#rounds{
    width:320px;
    height:372px;
}
.round_content {
    overflow: hidden;
    width:248px;
    height:352px;
    padding:36px;
	padding-top:20px;
    padding-bottom: 0px;
}
.competitor{
    width: 248px;
}
.judge_photo {
    width:59px;
    height:55px;
    pointer-events:none;
    float:left;
    display:inline;
}
.competitor_photo {
    float:left;
    display:inline;
    width:59px;
    height:60px;
    pointer-events:none;
}
.judge {
    clear:both;
    height:64px;
    width:248px;
    position:relative;
}

.loading{
    font-family: "Helvetica Neue";
    font-weight: normal;
    text-align: center;
    font-size:18px;
    margin: 22px auto;
}
#card_zero_content table tr td {
    padding:0;
    position:relative;
}


.voted_off{
    text-align: center;
    font-size: 10px;
    color:white;
    position:absolute;
    z-index: 100;
    width:58px;
    height:16px;
    top:44px;
    padding-top:2px;
}
div[class^="popup"] {
    background-size: 21px 23px;
    width:21px;
    height:23px;
    display:inline-block;
    margin-left:6px;
    float:left;
    padding:0;
}
#card_completed{
    position:absolute;
    width: 320px;
    height: 372px;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;

}




#completed_content{
    width:235px;
    height:182px;
    position: absolute;
    top:77px;
    left:29px;
    display: inline-block;
    font-family: "Helvetica Neue";
    padding:14px;
    padding-bottom:0;
}
.completed_lg{
    font-size: 12px;
    font-weight: bold;
    margin: 9px 0;
}
.completed_md{
    font-size: 12px;
    padding-left: 38px;
    line-height: 14px;
}
.completed_sm{
    font-size: 10px;
    margin-top:16px;
    padding:0;
}
/* Swipe 2 required styles */
.swipe-active {
    overflow:hidden;
    position:relative;
}
.swipe-active > * {
    display:block;
    position:absolute;
    visibility:hidden;


}

/* END Swipe 2 required styles */